<style type="text/css">
    a {text-decoration: none;}
    a:hover {text-decoration: none;}
</style>

<div class="container">
	<br><br>
	<h1><a href="/" style="color:black">Converter</a></h1>
	<br>
	<%= Document.all.last.content %>
</div> 
