<style type="text/css">
    a {text-decoration: none;}
    a:hover {text-decoration: none;}
</style>

<div class="container">
	<br><br>
	<h1><a href="/" style="color:black">Converter</a></h1>
	<br>
	<%= link_to 'Download PDF', documents_download_pdf_url, data: {turbolinks: false} %>
</div> 
