<style type="text/css">
    a {text-decoration: none;}
    a:hover {text-decoration: none;}
</style>

<div class="container">
	<br><br>
	<h1><a href="/" style="color:black">Converter</a></h1>
	<br>
	<b>Upload the file</b>
	<br>
	<%= form_for @document, html: { multipart: true } do |f| %>   
      <%= f.file_field :attachment %>
      <br>
      <%= f.submit "Submit" %>
    <% end %>
</div> 
