<h1>Converter</h1>

<b>Upload the file</b>
<div>
	<%= form_for @document, html: { multipart: true } do |f| %>   
      <%= f.file_field :attachment %>
      <%= f.submit "Submit" %>
    <% end %>
</div> 
